<body class="min-h-screen bg-background">
    <!-- Header -->
    <app-header class="sticky top-0 z-50"></app-header>    
    
    <!-- Contenido -->
    <div class="h-full">
        <!-- Descripcion -->
        <div class="px-10 md:px-14 md:my-2 lg:px-32 xl:px-[11.5rem]">
            <h1 class="text-xl pt-4 pb-2 font-bold text-savoyBlue sm:text-3xl md:pt-4 md:pb-0">ERROR 404. PAGE NOT FOUND</h1>
            <h1 class="sm:my-4 md:text-xl xl:text-2xl">
                Página en desarrollo
            </h1>
        </div>
    </div>
    
    <app-footer></app-footer>
</body>