<body class="min-h-screen bg-background">
    <!-- Header -->
    <app-header class="sticky top-0 z-50"></app-header>    
    
    <!-- Contenido -->
    <div class="h-full">        
        <!-- Descripcion -->
        <div class="px-10 md:px-14 md:my-2 lg:px-32 xl:px-[11.5rem]">
            <h1 class="text-2xl pt-4 pb-2 font-bold text-savoyBlue sm:text-4xl md:pt-4 md:pb-0">FOTOGRAFIA</h1>
            <!-- Descripcion -->
            <div>
                <h1 class="text-xl pb-2 font-bold text-savoyBlue sm:text-3xl md:py-4">Descripcion</h1>
                <p class="text-sm text-justify mb-2 md:text-lg xl:text-xl">
                    La fotografía es un programa de estudio de dos años que admite diez estudiantes al año. Se proporcionan cuarto oscuro, estudio e instalaciones informáticas. Los estudiantes reciben instrucción técnica en fotografía en blanco y negro y en color, así como en procesos sin plata y producción de imágenes digitales.
                </p>
                <p class="text-sm text-justify mb-2 md:text-lg xl:text-xl xl:mb-4">                   
                    El programa está comprometido con una definición amplia de la fotografía como un medio basado en lentes abierto a una variedad de medios expresivos. Los estudiantes trabajan tanto individualmente como en grupos con profesores y artistas visitantes. Además, un panel de crítica compuesto por profesores y otros artistas o críticos se reúne semanalmente, así como para una revisión final cada trimestre, para discutir el trabajo de los estudiantes.
                </p>
            </div>

            <div class="w-full my-4 flex justify-center bg-indigo lg:mt-4 lg:mb-8">
                <img class="lg:w-3/5 lg:max-h-[480px]" src="../../assets/fotografia_2.jpeg" alt="Diseño Grafico" draggable="false">
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
</body>