<body class="min-h-screen bg-background">
    <!-- Header -->
    <app-header class="sticky top-0 z-50"></app-header>    
    
    <!-- Contenido -->
    <div class="h-full animate-load">
        <!-- Subheader -->
        <header class="px-6 py-4 bg-black/10 md:pl-14 lg:pl-32 xl:pl-44 xl:pr-28 xl:py-6">
            <!-- Header sin usuario loggeado -->
            <div class="w-full px-3 flex items-center justify-between md:px-1" *ngIf="!user">
                <h1 class="w-full pr-4 text-sm text-davysGray/70 font-semibold md:text-base lg:text-lg">Inicia sesión para compartir tus proyectos</h1>
                <img class="h-5 w-5 md:hidden" src="../../assets/login-icon.svg" alt="Login" routerLink="/login">
                <button class="hidden h-fit w-fit ml-2 py-1 rounded-full text-white font-bold bg-indigo md:block md:mr-4 md:px-6 md:text-lg md:h-10 md:ml-0 xl:text-lg xl:w-28 xl:mr-0 hover:text-darkYellow hover:text-xl active:animate-shrink transition-all" routerLink="/login">Login</button>
            </div>

            <!-- Header con usuario loggeado -->
            <div class="pl-3 pr-1 flex items-center md:px-1" *ngIf="user">
                <div class="w-full flex items-center justify-between" *ngIf="user">
                    <h1 class="text-sm text-davysGray/70 font-semibold md:text-base xl:text-lg" >Bienvenido {{ user.displayName }}</h1>
                    <div class="flex gap-4">
                        <button class="py-1 text-savoyBlue items-center gap-6 lg:border-2 lg:border-solid lg:border-savoyBlue rounded-full lg:px-4 xl:px-6 lg:hover:bg-savoyBlue hover:text-white active:animate-shrink lg:flex" routerLink="/publicar">
                            <h1 class="hidden font-bold lg:block md:px-6 lg:px-4 xl:text-lg">Publicar</h1>    
                            <img class="h-7 w-7 md:w-8 md:h-8 lg:hidden active:animate-shrink" src="../../../assets/add-icon.svg" alt="Publicar">
                        </button>

                        <button class="px-2 py-1 text-savoyBlue flex items-center gap-6 lg:border-2 lg:border-solid lg:border-savoyBlue rounded-full lg:px-4 xl:px-6 lg:hover:bg-savoyBlue hover:text-white active:animate-shrink" routerLink="/perfil">
                            <h1 class="hidden font-bold lg:block md:px-7 lg:px-8 xl:text-lg xl:px-6">Perfil</h1>    
                            <img class="h-5 w-5 cursor-pointer md:h-6 md:w-6 md:mr-8 active:animate-shrink lg:hidden" src="../../assets/user-icon.svg" alt="Perfil">
                        </button>

                        <button class="hidden px-2 py-1 text-[#ce0d0d] lg:flex items-center gap-6 md:border-2 md:mr-10 md:border-solid md:border-[#ce0d0d] rounded-full lg:px-4 md:hover:bg-[#ce0d0d] hover:text-white active:animate-shrink">
                            <h1 class="font-bold xl:text-lg" (click)="logout()">Cerrar sesion</h1>
                        </button>
                    </div>
                </div>
            </div>

        </header>

        <!-- Feed -->
        <div class="z-0 flex flex-col items-center gap-4 px-8 my-4 lg:px-32 xl:px-48" *ngIf="publicaciones.length > 0">            
            <!-- Publicaciones obtenidas de la base de datos -->
            <div *ngFor="let publicacion of publicaciones; index as i" class="max-w-[320px] px-6 flex flex-col bg-white md:max-w-[520px] lg:max-w-[1052px] lg:w-full lg:min-h-[300px] lg:py-2 lg:justify-center">

                <!-- Datos publicacion (movil) -->
                <div class="w-full pt-4 text-sm flex lg:hidden">
                    <div class="w-2/3 flex flex-col">
                        <h1 class="font-semibold lg:text-base">{{ publicacion.autor }}</h1>
                        <h1>{{ publicacion.fecha }}</h1>
                    </div>
                    <!-- TODO: Implementar funcion de likes -->
                    <div class="flex w-1/3 h-fit right-2 justify-end gap-2">
                        <button class="active:animate-shrink" *ngIf="!publicacion.likes || (user && !publicacion.likes.includes(user.uid)) || !user" (click)="likePost(publicacion.id, i)"><img class="w-full h-full" draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                        <button class="active:animate-shrink" *ngIf="publicacion.likes && user && publicacion.likes.includes(user.uid)" (click)="unlikePost(publicacion.id, i)"><img class="w-full h-full" draggable="false" src="../../assets/liked-icon.svg" alt="Heart"></button>
                        <p>{{ getLikes(i) }}</p>
                    </div>
                </div>

                <!-- Contenedor Imagen y Descripcion -->
                <div class="flex flex-col py-2 lg:flex-row lg:gap-6 lg:grow">
                    <div class="w-full flex justify-center bg-black/10">
                        <img class="h-full max-h-[560px] md:w-[560px] xl:max-w-[480px] xl:min-h-[200px]" src="{{ publicacion.url }}" alt="Imagen" draggable="false">
                    </div>
                    <div class="flex flex-col mt-2 lg:w-1/2 lg:justify-between lg:pt-1">
                        <div class="">
                            <h1 class="font-semibold lg:text-xl">{{ publicacion.titulo }}</h1>
                            <h1 class="text-sm my-1 max-h-[80px] overflow-y-auto md:mb-2 lg:max-h-[280px] lg:my-1 lg:text-lg">                           
                                {{ publicacion.descripcion }}
                            </h1>
                        </div>

                        <!-- Datos publicacion (pantallas grandes) -->
                        <div class="hidden relative w-full text-sm gap-1 lg:flex lg:items-end">
                            <div class="w-2/3 flex flex-col">
                                <h1 class="font-semibold lg:text-base">{{ publicacion.autor }}</h1>
                                <h1>{{ publicacion.fecha }}</h1>
                            </div>

                            <!-- TODO: Implementar funcion de likes -->
                            <div class="flex w-1/3 h-full items-start justify-end gap-2">
                                <button class="py-1 active:animate-shrink" *ngIf="!publicacion.likes || (user && !publicacion.likes.includes(user.uid)) || !user" 
                                (click)="likePost(publicacion.id, i)"><img class="h-full w-full" draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                                <button class="py-1 active:animate-shrink" *ngIf="publicacion.likes && user && publicacion.likes.includes(user.uid)" (click)="unlikePost(publicacion.id, i)"><img class="h-full w-full" draggable="false" src="../../assets/liked-icon.svg" alt="Heart"></button>
                                <p class="text-base">{{ getLikes(i) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mensaje si no hay publicaciones -->
        <div class="w-full h-full flex items-center justify-center px-8 lg:px-32 xl:px-48" *ngIf="publicaciones.length === 0">
            <h1 class="mb-20 text-lg text-black/20 font-semibold md:text-xl xl:text-2xl">No se encontraron publicaciones en el foro</h1>
        </div>
    </div>

    <app-footer></app-footer>
</body>