<body class="min-h-screen bg-background">
    <!-- Header -->
    <app-header class="sticky top-0 z-50"></app-header>    
    
    <!-- Contenido -->
    <div class="h-full">        
        <!-- Descripcion -->
        <div class="px-10 md:px-14 md:my-2 lg:px-32 xl:px-[11.5rem]">
            <h1 class="text-2xl pt-4 pb-2 font-bold text-savoyBlue sm:text-4xl md:pt-4 md:pb-0">ESCULTURA</h1>
            <!-- Descripcion -->
            <div>
                <h1 class="text-xl pb-2 font-bold text-savoyBlue sm:text-3xl md:py-4">Descripcion</h1>
                <p class="text-sm text-justify mb-2 md:text-lg xl:text-xl">
                    El programa de escultura ofrece a los estudiantes la oportunidad de desarrollar su trabajo en un entorno de apoyo que consiste en comentarios críticos de una amplia gama de voces diversas. El campo de la escultura incluye una colección variada de métodos de trabajo y resultados (no se privilegia un conjunto de herramientas sobre otro), creando un programa saludable y experimental que refleja los problemas que enfrentan los artistas fuera de la institución. Los estudiantes trabajan de forma independiente en espacios de estudio individuales y tienen acceso a áreas comunes para la crítica de su trabajo. 36 Edgewood alberga el programa de escultura y tiene un taller de carpintería, un taller de metal y un laboratorio de computación, mientras que la Escuela de Arte y la Universidad en general ofrecen recursos adicionales. No se dispone de instalaciones de fundición de metales ni de cerámica.
                </p>

                <p class="text-sm text-justify mb-2 md:text-lg xl:text-xl xl:mb-4">                   
                    El objetivo principal de este programa es facilitar el desarrollo de la conversación y la crítica constructiva entre estudiantes y profesores. Nuestro objetivo es articular el trabajo estudiantil frente a su propia trayectoria y en relación con la historia del arte y el momento actual. Esta conversación está estructurada formalmente para llevarse a cabo uno a uno entre estudiantes y profesores, en grupos pequeños y dentro de un grupo más grande que involucre a todo el departamento de escultura.
                </p>

                <p class="text-sm text-justify mb-2 md:text-lg xl:text-xl xl:mb-4">                   
                    Cada año se admiten aproximadamente diez estudiantes.
                </p>
            </div>

            <div class="w-full my-4 flex justify-center bg-indigo lg:mt-4 lg:mb-8">
                <img class="lg:w-3/5 lg:max-h-[480px]" src="../../assets/escultura_2.jpg" alt="Diseño Grafico" draggable="false">
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
</body>