<body class="min-h-screen bg-background">
    <!-- Header -->
    <app-header class="sticky top-0 z-50"></app-header>    
    
    <!-- Contenido -->
    <div class="h-full">
        <!-- Descripcion -->
        <div class="px-10 md:px-14 md:my-2 lg:px-32 xl:px-[11.5rem]">
            <h1 class="text-2xl pt-4 pb-2 font-bold text-savoyBlue sm:text-4xl md:pt-4 md:pb-0">PINTURA</h1>
            <!-- Descripcion -->
            <div>
                <h1 class="text-xl pb-2 font-bold text-savoyBlue sm:text-3xl md:py-4">Descripcion</h1>
                <p class="text-sm text-justify mb-2 md:text-lg xl:text-xl">
                    La instrucción en el programa tiene sus raíces en la investigación de la pintura como un género único con su propia sintaxis e historia complejas. Dentro de este entorno, el programa fomenta la diversidad de práctica e interpretación, innovación y experimentación.
                </p>
                <p class="text-sm text-justify mb-2 md:text-lg xl:text-xl xl:mb-4">                   
                    Cada año se admiten aproximadamente veintiún estudiantes. El núcleo de la instrucción son las críticas individuales y grupales con profesores, críticos visitantes y artistas visitantes. Además, los estudiantes participan en una variedad de seminarios impartidos tanto por profesores como por críticos. El estudio del grabado está integrado en el programa de pintura y un estudiante puede concentrarse en pintura, grabado o una combinación de ambos.
                </p>
                <p class="text-sm text-justify mb-2 md:text-lg xl:text-xl xl:mb-4">
                    Los estudiantes trabajan en estudios individuales de 300 pies cuadrados en 353 Crown Street, adyacente a Green Hall. Los estudiantes tienen acceso a un taller de grabado en el edificio de Crown Street, equipado con dos prensas de grabado y una prensa de litografía, una instalación de serigrafía totalmente equipada, así como recursos digitales disponibles en el estudio de impresión, en toda la escuela y en el Centro de Colaboración. Artes y Medios.
                </p>
            </div>

            <div class="w-full my-4 flex justify-center bg-indigo lg:mt-4 lg:mb-8">
                <img class="lg:w-3/5 lg:max-h-[480px]" src="../../assets/pintura_2.jpg" alt="Diseño Grafico" draggable="false">
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
</body>