<body class="min-h-screen bg-background">
    <!-- Header -->
    <app-header class="sticky top-0 z-50"></app-header>    
    
    <!-- Contenido -->
    <div class="h-full animate-load">
        <!-- Subheader -->
        <header class="w-full min-h-[56px] flex grow items-center py-2 px-4 bg-background2 md:h-16 md:pl-14 lg:pl-32 xl:h-20 xl:pl-48">
            <div class="px-5 flex grow justify-between items-center md:pl-0 xl:pr-40">
                <h1 class="text-sm text-davysGray/70 pr-10 font-semibold md:text-base xl:text-lg">Inicia sesión para compartir tus proyectos</h1>
                <img class="h-5 w-5 md:hidden active:animate-shrink" src="../../assets/login-icon.svg" alt="Login" routerLink="/login">
                <button class="hidden h-fit w-fit max-w-[112px] ml-2 px-4 py-1 rounded-full text-sm justify-self-end text-white font-bold bg-indigo md:block md:w-1/6 md:ml-0 md:h-8 xl:h-10 xl:text-lg hover:text-darkYellow hover:text-xl active:animate-shrink" routerLink="/login">Login</button>
            </div>
        </header>

        <!-- Feed -->
        <div class="flex flex-col items-center gap-4 px-8 my-4 lg:px-32 xl:px-48">
            <!-- Publicacion 1 -->
            <div class="max-w-[320px] px-6 flex flex-col bg-white md:max-w-[520px] lg:max-w-full lg:w-full lg:min-h-[300px] lg:py-2 lg:justify-center">
                <!-- Datos publicacion (screen sm -> md) -->
                <div class="w-full py-4 text-sm flex lg:hidden">
                    <div class="w-2/3 flex flex-col">
                        <h1 class="font-semibold lg:text-base">Ivan Hnilicka</h1>
                        <h1>31/10/2023</h1>
                    </div>
                    <div class="w-1/3 h-fit right-2 flex justify-end gap-2">
                        <button><img draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                        <p>31</p>
                    </div>
                </div>
                <!-- Contenedor Imagen y Descripcion -->
                <div class="flex flex-col lg:flex-row lg:gap-6 lg:grow">
                    <div class="w-full max-h-[385px] flex justify-center bg-black lg:my-2 lg:w-1/2">
                        <img class="" src="../../assets/publicacion_1.jpg" alt="Publicacion" draggable="false">
                    </div>
                    <div class="flex flex-col my-2 lg:w-1/2 lg:justify-between lg:py-4">
                        <div class="lg:pr-16">
                            <h1 class="font-semibold lg:text-xl">Amanecer en el bosque</h1>
                            <h1 class="text-sm my-1 max-h-[80px] overflow-y-auto lg:max-h-[280px] lg:mb-4 lg:text-lg">                           
                                Una pintura que combina elementos antiguos y modernos, recordando la interconexión entre el pasado y el presente.
                            </h1>
                        </div>
                        <!-- Datos publicacion (screen lg -> xl) -->
                        <div class="hidden relative h-12 w-full text-sm gap-1 lg:flex">
                            <div class="w-2/3 flex flex-col">
                                <h1 class="font-semibold lg:text-base">Ivan Hnilicka</h1>
                                <h1>31/10/2023</h1>
                            </div>
                            <div class="w-1/3 h-fit flex justify-end gap-2">
                                <button><img draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                                <p>31</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Publicacion 2 -->
            <div class="max-w-[320px] px-6 flex flex-col bg-white md:max-w-[520px] lg:max-w-full lg:w-full lg:min-h-[300px] lg:py-2 lg:justify-center">
                <!-- Datos publicacion (screen sm -> md) -->
                <div class="w-full py-4 text-sm flex lg:hidden">
                    <div class="w-2/3 flex flex-col gap-1">
                        <h1 class="font-semibold lg:text-base">Ximena Hnilicka</h1>
                        <h1>29/10/2023</h1>
                    </div>
                    <div class="w-1/3 h-fit right-2 flex justify-end gap-2">
                        <button><img draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                        <p>45</p>
                    </div>
                </div>
                <!-- Contenedor Imagen y Descripcion -->
                <div class="flex flex-col lg:flex-row lg:gap-6 lg:grow">
                    <div class="w-full max-h-[385px] flex justify-center bg-black lg:my-2 lg:w-1/2">
                        <img class="" src="../../assets/publicacion_2.jpg" alt="Publicacion" draggable="false">
                    </div>
                    <div class="flex flex-col my-2 lg:w-1/2 lg:justify-between lg:py-4">
                        <div class="lg:pr-16">
                            <h1 class="font-semibold lg:text-xl">Sueño en Azul</h1>
                            <h1 class="text-sm my-1 max-h-[80px] overflow-y-auto lg:max-h-[280px] lg:mb-4 lg:text-lg">                           
                                Una pintura abstracta que evoca la sensación de estar inmerso en un océano de pensamientos y emociones.
                            </h1>
                        </div>
                        <!-- Datos publicacion (screen lg -> xl) -->
                        <div class="hidden relative h-12 w-full text-sm gap-1 lg:flex">
                            <div class="w-2/3 flex flex-col">
                                <h1 class="font-semibold lg:text-base">Ximena Hnilicka</h1>
                                <h1>29/10/2023</h1>
                            </div>
                            <div class="w-1/3 h-fit flex justify-end gap-2">
                                <button><img draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                                <p>45</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Publicacion 3 -->
            <div class="max-w-[320px] px-6 flex flex-col bg-white md:max-w-[520px] lg:max-w-full lg:w-full lg:min-h-[300px] lg:py-2 lg:justify-center">
                <!-- Datos publicacion (screen sm -> md) -->
                <div class="w-full py-4 text-sm flex lg:hidden">
                    <div class="w-2/3 flex flex-col gap-1">
                        <h1 class="font-semibold lg:text-base">Ilse Cervantes</h1>
                        <h1>29/10/2023</h1>
                    </div>
                    <div class="w-1/3 h-fit right-2 flex justify-end gap-2">
                        <button><img draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                        <p>27</p>
                    </div>
                </div>
                <!-- Contenedor Imagen y Descripcion -->
                <div class="flex flex-col lg:flex-row lg:gap-6 lg:grow">
                    <div class="w-full max-h-[385px] flex justify-center bg-black lg:my-2 lg:w-1/2">
                        <img class="" src="../../assets/publicacion_3.jpg" alt="Publicacion" draggable="false">
                    </div>
                    <div class="flex flex-col my-2 lg:w-1/2 lg:justify-between lg:py-4">
                        <div class="lg:pr-16">
                            <h1 class="font-semibold lg:text-xl">Enigma Geométrico</h1>
                            <h1 class="text-sm my-1 max-h-[80px] overflow-y-auto lg:max-h-[280px] lg:mb-4 lg:text-lg">                           
                                Una obra de arte abstracto que desafía la percepción del espectador con patrones geométricos en constante cambio.
                            </h1>
                        </div>
                        <!-- Datos publicacion (screen lg -> xl) -->
                        <div class="hidden relative h-12 w-full text-sm gap-1 lg:flex">
                            <div class="w-2/3 flex flex-col">
                                <h1 class="font-semibold lg:text-base">Ilse Cervantes</h1>
                                <h1>29/10/2023</h1>
                            </div>
                            <div class="w-1/3 h-fit flex justify-end gap-2">
                                <button><img draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                                <p>27</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Publicacion 4 -->
            <div class="max-w-[320px] px-6 flex flex-col bg-white md:max-w-[520px] lg:max-w-full lg:w-full lg:min-h-[300px] lg:py-2 lg:justify-center">
                <!-- Datos publicacion (screen sm -> md) -->
                <div class="w-full py-4 text-sm flex lg:hidden">
                    <div class="w-2/3 flex flex-col gap-1">
                        <h1 class="font-semibold lg:text-base">Manuel Ramirez</h1>
                        <h1>28/10/2023</h1>
                    </div>
                    <div class="w-1/3 h-fit right-2 flex justify-end gap-2">
                        <button><img draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                        <p>18</p>
                    </div>
                </div>
                <!-- Contenedor Imagen y Descripcion -->
                <div class="flex flex-col lg:flex-row lg:gap-6 lg:grow">
                    <div class="w-full max-h-[385px] flex justify-center bg-black lg:my-2 lg:w-1/2">
                        <img class="" src="../../assets/publicacion_4.jpg" alt="Publicacion" draggable="false">
                    </div>
                    <div class="flex flex-col my-2 lg:w-1/2 lg:justify-between lg:py-4">
                        <div class="lg:pr-16">
                            <h1 class="font-semibold lg:text-xl">Armonia de Colores</h1>
                            <h1 class="text-sm my-1 max-h-[80px] overflow-y-auto lg:max-h-[280px] lg:mb-4 lg:text-lg">                           
                                Una abstracción que juega con la mezcla de colores y formas para crear una sensación de equilibrio y serenidad.
                            </h1>
                        </div>
                        <!-- Datos publicacion (screen lg -> xl) -->
                        <div class="hidden relative h-12 w-full text-sm gap-1 lg:flex">
                            <div class="w-2/3 flex flex-col">
                                <h1 class="font-semibold lg:text-base">Manuel Ramirez</h1>
                                <h1>28/10/2023</h1>
                            </div>
                            <div class="w-1/3 h-fit flex justify-end gap-2">
                                <button><img draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                                <p>18</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Publicacion 5 -->
            <div class="max-w-[320px] px-6 flex flex-col bg-white md:max-w-[520px] lg:max-w-full lg:w-full lg:min-h-[300px] lg:py-2 lg:justify-center">
                <!-- Datos publicacion (screen sm -> md) -->
                <div class="w-full py-4 text-sm flex lg:hidden">
                    <div class="w-2/3 flex flex-col gap-1">
                        <h1 class="font-semibold lg:text-base">Erick Hnilicka</h1>
                        <h1>27/10/2023</h1>
                    </div>
                    <div class="w-1/3 h-fit right-2 flex justify-end gap-2">
                        <button><img draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                        <p>25</p>
                    </div>
                </div>
                <!-- Contenedor Imagen y Descripcion -->
                <div class="flex flex-col lg:flex-row lg:gap-6 lg:grow">
                    <div class="w-full max-h-[385px] flex justify-center bg-black lg:my-2 lg:w-1/2">
                        <img class="" src="../../assets/publicacion_5.jpg" alt="Publicacion" draggable="false">
                    </div>
                    <div class="flex flex-col my-2 lg:w-1/2 lg:justify-between lg:py-4">
                        <div class="lg:pr-16">
                            <h1 class="font-semibold lg:text-xl">Ecos del Pasado</h1>
                            <h1 class="text-sm my-1 max-h-[80px] overflow-y-auto lg:max-h-[280px] lg:mb-4 lg:text-lg">                           
                                Una pintura que combina elementos antiguos y modernos, recordando la interconexión entre el pasado y el presente.
                            </h1>
                        </div>
                        <!-- Datos publicacion (screen lg -> xl) -->
                        <div class="hidden relative h-12 w-full text-sm gap-1 lg:flex">
                            <div class="w-2/3 flex flex-col">
                                <h1 class="font-semibold lg:text-base">Erick Hnilicka</h1>
                                <h1>27/10/2023</h1>
                            </div>
                            <div class="w-1/3 h-fit flex justify-end gap-2">
                                <button><img draggable="false" src="../../assets/like-icon.svg" alt="Heart"></button>
                                <p>25</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</body>